@page
@model IndexModel
@{
    ViewData["Title"] = "Uprawa szpinaku";
}

<div class="text-center">
    <h1 class="display-4">Projekt - Serwisy Internetowe .Net</h1>
    <p>Jest to aplikacja frontendowa przygotowana na projekt z przedmiotu Serwisy Internetowe .Net</p>
    <p>Wybrana przez nas tematyka to <b>uprawa szpinaku</b></p>
    <p>W zakładce "Odczyty"" można sprawdzić pomiary uzyskane z czujników (temperatura gleby, nasłonecznienie, 
        stężenie ozonu, wilgotność gleby)</p>
    <p>Zakładka "Wykresy" pozwala obejrzeć dane w formie wykresów</p>
    <p>Dane w postaci pliku .csv lub pliku .json są możliwe do pobrania po wciśnięciu przycisków w zakładce "Odczyty"</p>
    <p>Zakładka "Panel" pozwala na objerzenie ostatnich i średnich wartości czujników</p>
    <p>Stopka zawiera odnośniki do kodu przygotowanych aplikacji w serwisie GitHub</p>
</div>
